<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FixInitiator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FixInitiator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <FixInitiator.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>D:\Projects\Sinopac\FixInitiator\FixInitiator\initiator.cfg</value>
            </setting>
        </FixInitiator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FixInitiator.Properties.Settings>
            <setting name="Account" serializeAs="String">
                <value>714023400002</value>
            </setting>
            <setting name="SystemID" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="SeqNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TradeDate" serializeAs="String">
                <value>2014-09-28</value>
            </setting>
            <setting name="SQL_Server" serializeAs="String">
                <value>192.168.1.103</value>
            </setting>
            <setting name="SQL_DB" serializeAs="String">
                <value>SEHK</value>
            </setting>
            <setting name="SQL_ID" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQL_Password" serializeAs="String">
                <value>sa</value>
            </setting>
        </FixInitiator.Properties.Settings>
    </userSettings>
</configuration>
