<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPTandem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTPTandem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FTPTandem.Properties.Settings>
            <setting name="FtpIP" serializeAs="String">
                <value>192.168.6.75</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>MLS.OP</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>CMAKE</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>CLOSING</value>
            </setting>
            <setting name="FTPDirectory" serializeAs="String">
                <value>$GFU.FFTEMP</value>
            </setting>
            <setting name="SQL_Server" serializeAs="String">
                <value>192.168.6.37</value>
            </setting>
            <setting name="SQL_DB" serializeAs="String">
                <value>MM</value>
            </setting>
            <setting name="SQL_ID" serializeAs="String">
                <value>etfUser</value>
            </setting>
            <setting name="SQL_Password" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="EmailTo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <!--<string>jackiehung@masterlink.com.tw</string>-->
                      <string>jesstsai@masterlink.com.tw</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FTPTandem.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FTPTandem.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>http://www.jpx.co.jp</value>
            </setting>
            <setting name="DownloadPage" serializeAs="String">
                <value>/english/markets/derivatives/jnet-derivative/index.html</value>
            </setting>
        </FTPTandem.Properties.Settings>
    </applicationSettings>
</configuration>